In [1]:
import pandas as pd
import numpy as np

test=pd.read_csv('test.csv')

In [2]:
print (test.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [3]:
train=pd.read_csv('train.csv')
print (train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators=1000,random_state=1)
train['Sex']=train.Sex.apply(lambda x: 1 if x=='male' else 0)
test['Sex']=test.Sex.apply(lambda x: 1 if x=='male' else 0)
train['Embarked']=train.Embarked.apply(lambda x: 1 if x=='S' else 0)
test['Embarked']=test.Embarked.apply(lambda x: 1 if x=='S' else 0)
mean_ages=np.mean(train.Age.array)
train['Age'].fillna(mean_ages,inplace=True)
mean_ages=np.mean(test.Age.array)
test.Age.fillna(mean_ages,inplace=True)
test.fillna(np.mean(test.Fare.array),inplace=True)
print (train.corr())
train_data=train[['Sex','Pclass','Age','Fare','Parch','Embarked']]
train_labels=train['Survived']

test_data=test[['Sex','Pclass','Age','Fare','Parch','Embarked']]
classifier.fit(train_data,train_labels)
predictions=(classifier.predict(test_data))
print (predictions)
my_data=[[0,2,18,30,0,1]]
print (classifier.predict_proba(my_data))

             PassengerId  Survived    Pclass  Sex       Age     SibSp  \
PassengerId     1.000000 -0.005007 -0.035144  NaN  0.033207 -0.057527
Survived       -0.005007  1.000000 -0.338481  NaN -0.069809 -0.035322
Pclass         -0.035144 -0.338481  1.000000  NaN -0.331339  0.083081
Sex                  NaN       NaN       NaN  NaN       NaN       NaN
Age             0.033207 -0.069809 -0.331339  NaN  1.000000 -0.232625
SibSp          -0.057527 -0.035322  0.083081  NaN -0.232625  1.000000
Parch          -0.001652  0.081629  0.018443  NaN -0.179191  0.414838
Fare            0.012658  0.257307 -0.549500  NaN  0.091566  0.159651
Embarked             NaN       NaN       NaN  NaN       NaN       NaN

                Parch      Fare  Embarked
PassengerId -0.001652  0.012658       NaN
Survived     0.081629  0.257307       NaN
Pclass       0.018443 -0.549500       NaN
Sex               NaN       NaN       NaN
Age         -0.179191  0.091566       NaN
SibSp        0.414838  0.159651       NaN
Parch        1.000000  0.216225       NaN
Fare         0.216225  1.000000       NaN
Embarked          NaN       NaN       NaN
[0 0 1 1 1 0 0 1 1 0 0 0 1 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 1 0 0 1 1 0
 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 1 0 1 0 1 1 1 1 0 0 0 0 0 0 1
 1 1 0 0 0 0 1 1 1 0 0 0 1 1 0 1 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1
 0 1 0 1 0 0 1 1 1 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 1 0
 0 0 1 0 0 0 0 0 0 0 1 1 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 1 0 0 0
 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 1 0
 1 1 1 0 0 0 0 1 1 1 0 1 1 0 1 1 1 0 0 0 1 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0
 0 1 0 1 1 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0
 1 0 0 0 0 0 1 0 0 0 1 1 1 0 0 1 0 0 1 0 1 1 1 1 0 0 0 1 1 0 1 0 1 0 1 1 0
 1 0 0 1 0 0 0 1 0 0 1 0 1 0 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 1 1 1 0 0 0 1 1
 0 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 1 0 1 1 0 1 0 1 1 1 1 0
 1 0 1 0 1 0 0 1 0 0 1]
[[0.4 0.6]]

In [10]:
df=pd.DataFrame({'PassengerId':test['PassengerId'],'Survived':predictions})
print (df.head())

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         1
4          896         1

In [11]:
df.to_csv('out.csv',header=True,index=False)